.navigation {
  display: flex;
  font-size: 1.5rem;
  line-height: 2.8rem;

  @include media-tablet {
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding: 120px 0 53px 0;
    gap: 32px;
    height: 100%;
    width: 100%;
    overflow: auto;
  }

  &__link {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    @extend %transition;
    &:hover {
      color: $color-primary;
    }

    @include media-tablet {
      @include font($size: 2.2rem, $weight: normal);
    }
  }
}

.header__navigation {
  @extend %transition;
  @include media-tablet {
    top: -100%;
    background-color: $color-light;
  }
}

.active-burger {
  top: 0;
  bottom: initial;
}

.rotate-burger {
  transform: rotate(270deg);
}
